body {
  font-family: "Aller",sans-serif;
  color: #333;
  word-wrap: break-word;
  background: #EBEBEB !important;
}

body, html, #root, .App, .wrap, #pollIndex, .container, .poll, .polls{
  height: 100%; 
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
  background: rgb(212, 212, 212);
  
  padding: 5px 0;
  height: 30px; 
}

header{
  background: rgb(212, 212, 212);
}

.navbar{
  padding: 0px 10px !important;
}

#footerCredit{
  left: 10px;
  position: absolute;
}

.footerLink{
  color: black; 
}

#tag{
	margin: 0px; 
}

.tags{
  text-align: center;
}

.tags .btn{
  margin: 10px; 
}

.active{
  background: #720000;
  color: white; 
}

.default:hover{
  background: #d90000;
  color: white; 
}

#articleContent{
	margin-top: 15px; 
}

.searchBar{
  text-align: center; 
}

.searchBar button:hover{
  cursor: pointer; 
}

#home, #about {
	margin-bottom: 50px; 
}

.footerLink:hover{
  color: #720000; 
  cursor: pointer; 
}

#userAnswersBox{
  clear: both;
}

.warning{
  color: red; 
}

.footerLink i{
  margin-right: 30px; 
  font-size: 20px;
}

.pollInput{
  width: 20px;
  height: 20px;
}

.pollInputLabel{
  font-size: 20px;
  padding-left: 10px;
}

.pollVotingSquare{
  overflow: hidden;
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  margin: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1em;
}

h1 {
 font-size: 2.5rem;
}

p, li{
  font-size: 1.3125em;
}

li{
  margin: .5em 0p;
}

#leftPoll{
  overflow: hidden;
    min-height: 50px;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.pollsContainer h1{
  margin-top: 80px;
}

#rightPollWrapper{
  float: right;
  width: 30%;
  min-height: 50px;
  margin-left: 10px;
}

#rightPoll{
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#rightPoll label{
  display: block; 
}

.answer{
  position: relative; 
  margin-bottom: 10px;
}

.answerDeleteButton{
  position: absolute;
  top:0;
  right: 0;
  z-index: 2;
  height: 38px;
  width: 30px;
  cursor: pointer;
  background: none;
  border: 1px solid red;
}

.answerDeleteButton:hover{
  background:  rgba(255, 0, 0, 0.258);
}

.form-control{
  font-size: 18px;
}

.answerDeleteButton i{
  color: red;
  font-size: 18px;
}

#addAnswer{
  margin-bottom:10px;
}

.pollLink{
  background: white; 
  padding: 10px; 
  margin: 10px auto; 
  border-radius: 5px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  color: #007bff;
}

.pollLink:hover{
  background: rgb(206, 206, 206); 
}

#pollSubmitButton{
  margin-top:  10px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 5px 12px rgba(0,0,0,0.22);
}

#otherSpecify{
  margin-left: 10px;
}
/*
background-color: #6e6e6d;
    color: #fff;
    border: 0;
    width: 55px;
    height: 46px;
    padding: 12px 12px 15px 15px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
    
    display: block;
    border: 0;
    font-size: 18px;
    height: 46px;
    border-radius: 2px;
    box-shadow: inset 0 2px 10px 1px #000;
    background-color: #222029;
    -webkit-box-shadow: inset 0 2px 10px 1px #000;
    -moz-box-shadow: inset 0 2px 10px 1px #000;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    */
/*
Railscasts-like style (c) Visoft, Inc. (Damien White)
*/

.poll .btn:not(.editButton), #pleaseLoginOrRegister{
  margin: 20px;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #232323;
  color: #e6e1dc;
}

.hljs-comment,
.hljs-quote {
  color: #bc9458;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag {
  color: #c26230;
}

.hljs-string,
.hljs-number,
.hljs-regexp,
.hljs-variable,
.hljs-template-variable {
  color: #a5c261;
}

.hljs-subst {
  color: #519f50;
}

.hljs-tag,
.hljs-name {
  color: #e8bf6a;
}

.hljs-type {
  color: #da4939;
}


.hljs-symbol,
.hljs-bullet,
.hljs-built_in,
.hljs-builtin-name,
.hljs-attr,
.hljs-link {
  color: #6d9cbe;
}

.hljs-params {
  color: #d0d0ff;
}

.hljs-attribute {
  color: #cda869;
}

.hljs-meta {
  color: #9b859d;
}

.hljs-title,
.hljs-section {
  color: #ffc66d;
}

.hljs-addition {
  background-color: #144212;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #600;
  color: #e6e1dc;
  display: inline-block;
  width: 100%;
}

.hljs-selector-class {
  color: #9b703f;
}

.hljs-selector-id {
  color: #8b98ab;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}
pre{
	margin: 0px; 
}